.header {
  text-align: left;
  font-size: 40px;
  color: black;
  height: 75px;
  padding-top: 15px;
  padding-left: 25px;
  background-color: #F5F5F5;
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px #888888;
  margin-left: 5px;
  margin-right: 5px;
}

.deleteButton {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  background-color: #f5f5f5;
  border-color: #aaaaaa;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  position: absolute;
  right: 95px;
}

.deleteButton:hover {
  opacity: 50%;
  border-color: black;
}

.note {
  display: flex;
  align-items: baseline;
  height: 50px;
  background-color: #F5F5F5;
}

.noteClosed {
  display: flex;
  align-items: baseline;
  height: 50px;
  background-color: #F5F5F5;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px #888888;
  margin-left: 5px;
  margin-right: 5px;
}

.noteClosed:hover {
  border-color: black;
}

.noteBody {
  background-color: #F5F5F5;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px #888888;
  margin-left: 5px;
  margin-right: 5px;
}

.noteBody:hover {
  border-color: black;
}

.noteText {
  padding-left: 15px;
  color: gray;
  background-color: #f5f5f5;
  border-width: 0px;
  text-align: justify;
  width: 75%;
  min-height: 20px;
  max-height: 500px;
}


.addButton {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  background-color: #f5f5f5;
  border-color: #aaaaaa;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  position: absolute;
  right: 25px;
}

.addButton:hover {
  opacity: 50%;
  border-color: black;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.date {
  position:absolute;
  right: 30px;
}

.noteTitle {
  position: relative;
  top: -2px;
  font-size: 18px;
  font-weight: bold;
}

.inputTitle {
  position: relative;
  top: 5px;
  background-color: #f5f5f5;
  border-width: 0px;
  font-size: 18px;
  font-weight: bolder;
}

.noteTitle:hover {
  text-decoration: underline;
}
